/* ==========================================
   1. Reset & Base Styles
   ========================================== */
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --primary:black;
  --secondary:gray;

}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  color: var(--primary);
}

/* ==========================================
   2. Typography & Links
   ========================================== */
a{
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

.gray-text{
  color: var(--secondary);
}

a.gray-text:hover{
  color: var(--primary);
}

.black-text{
  color: var(--primary);
}

.black-text:hover{
  color: var(--secondary);
}

/* font */
h1{
  font-size: 20px;
  margin-bottom: 32px;
}
p,span,a{font-size: 10px;}

/* ==========================================
   3. Layout Sections
   ========================================== */
.breadcrumb{
  font-size: 14px;
  margin-bottom: 60px;
}


.contact-info{
  display: flex;
  flex-direction: column;
  gap:32px;
  margin-bottom: 60px;
}

.contact-info div span{
  display: block;
  margin-bottom: 10px;
}

.social{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



main{
  padding: 40px 16px 0;
}

footer{
  padding: 40px 16px 0;
  background-color: rgb(236, 236, 236);
  /* display: flex; */
  /* align-items: flex-end; */
}


/* .container-link{

}

.container-input{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: calc((100%-8px)/2);
}

@media (min-width: 600px){
  .container-input{
  width: calc((100%-8px)/2);
}
} */


/* input */

.newsletter-section{
  /* display: flex; */
  /* margin-left: auto; */
  max-width: 100%;
}

.newsletter-form{
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}


input, button{
  width: full;
  height: 42px;
  border: 1px;
  background-color: #efefef;
  border-radius: 10px;
  padding: 10px;
}

.newsletter-form button:hover{
  background-color: black;
  color: white;
}

.container-link{
padding: 30px 0;
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 5px;
}

footer{
 display: grid;
flex-direction: column;
align-items: flex-start;
gap:10px;
}
/* ==========================================
   6. Responsive
   ========================================== */
   
@media (min-width: 768px) {
  .contact-info{
    grid-template-columns: repeat(3, 1fr);
  }
  .newsletter-section{
  max-width: 50%;
  width: 100%;
  margin-left: auto;
  padding: 80px;
}
  
}